@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:ital,wght@0,100;1,100&display=swap");

@media only screen and (min-width: 375px) {
    .container {
        width: 100%;
        height: 718px;
        font-family: "Poppins", sans-serif;
    }
    .header {
        height: 10vh;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo {
        width: 25%;
        height: 30%;
        position: absolute;
        top: 10px;
        left: 12px;
    }
    .first-div {
        width: 327px;
        height: 150px;
        position: absolute;
        top: 114px;
        left: 24px;
        font-weight: 700;
        font-size: 40px;
        line-height: 52px;
        font-family: "Poppins", sans-serif;
    }
    .second-div {
        width: 327px;
        height: 146px;
        position: absolute;
        top: 276px;
        left: 24px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #344563;
        font-family: "Poppins", sans-serif;
    }
    .connect {
        color: #7f8cff;
        width: 150px;
        height: 24px;
        left: 24px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;

        position: absolute;
        top: 430px;
    }
    .icon-div {
        width: 170px;
        position: absolute;
        top: 470px;
        left: 24px;
        display: flex;
        justify-content: space-between;
    }
}
