@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@100;300;600;700&display=swap");

@media only screen and (min-width: 375px) {
  * {
    margin: 0;
    padding: 0;
  }

  .container {
    width: 100%;
    font-family: "Poppins", sans-serif;
    background-color: #e5e5e5;
  }

  header {
    display: flex;
    height: 10%;
    justify-content: space-between;
  }

  .logo {
    width: 20%;
    height: 10%;
    position: absolute;
    top: 10px;
    left: 12px;
  }

  .menu {
    width: 4%;
    height: 10%;
    position: absolute;
    left: 350px;
    top: 10px;
  }

  .container2 {
    background-image: url("header-shapes\ mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 40px;
    background-color: white;
    margin: auto;
    height: 718px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .first-div {
    width: 327px;
    height: 150px;
    position: absolute;
    top: 114px;
    left: 24px;
    z-index: 1;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    font-family: "Poppins", sans-serif;
  }

  .second-div {
    width: 327px;
    height: 146px;
    position: absolute;
    top: 276px;
    left: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #344563;
    font-family: "Poppins", sans-serif;
  }

  h3 {
    color: #7f8cff;
    width: 150px;
    height: 24px;
    left: 24px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    position: absolute;
    top: 430px;
  }

  .icon-div {
    width: 170px;
    position: absolute;
    top: 470px;
  }

  ul {
    list-style: none;
    height: 5%;
    display: flex;
    justify-content: space-between;
  }

  .main-container {
    display: grid;
  }

  .second-section {
    margin: 114px 24px 114px 24px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 327px;
    background-color: white;
    border-radius: 16px;
    height: 552px;
  }

  .Card1 {
    padding: 16px;
    background-color: white;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 88px;
    border-radius: 16px;
  }

  .card-img {
    width: 295px;
    height: 220px;
    margin: 3vh auto;
    line-height: 10vh;
  }

  .card-img-div {
    line-height: 4vh;
    height: 50vh;
  }

  .Card1 > img {
    width: 100%;
  }

  .card-img > h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
  }

  .Card1-tech {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-right: 59px;
    list-style: none;
    width: 70vw;
    font-weight: 600;
    padding: 0;
  }

  .canopy {
    color: #344563;
  }

  .back-dev {
    color: #7a869a;
  }

  .twenty {
    color: #7a869a;
  }

  .card1-tech > ul {
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
  }

  .card-img > p {
    color: #344563;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
    line-height: 24px;
  }

  .T1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
  }

  .T1 li {
    list-style: none;
    background-color: #ebebff;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 16px;
    width: 50px;
    height: 20px;
    margin: 16px 10px 0 0;
    color: #6070ff;
    padding: 6px 10px;
  }

  .see-btn {
    padding: 16px;
    border-radius: 16px;
    color: #396df2;
    border: 1px solid #396df2;
    background-color: white;
    margin-top: 8vh;
  }

  .About {
    display: flex;
    flex-direction: column;
    background-color: #ffff;
    border-top-right-radius: 20px;
  }

  .Myself > h2 {
    padding-top: 114px;
    margin: 0 24px 0 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #172b4d;
  }

  .Myself > p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #344563;
    margin: 12px 24px 0 24px;
  }

  .Myself > h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #7f8cff;
    margin: 12px 24px 0 24px;
  }

  .Myself a {
    color: #505f79;
    padding: 4px;
  }

  .Myself ul {
    color: #505f79;
    padding-left: 30px;
  }

  .Nav-bar > a:hover {
    transform: rotateY(360deg);
  }

  .Lang-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
  }

  .js-img-box,
  .html-img-box,
  .css-img-box {
    display: flex;
    justify-content: flex-start;
    background-color: #e7e8e9;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding: 12px;
    margin: 6px 12px 6px 12px;
  }

  .js-img-box > img,
  .html-img-box > img,
  .css-img-box > img {
    height: 48px;
  }

  .js-img-box > ul,
  .html-img-box > ul,
  .css-img-box > ul {
    display: flex;
    align-items: center;
    margin: 0 0 0 12px;
    padding-left: 5px;
    list-style: none;
    color: #253858;
  }

  .L1,
  .L2,
  .L3 {
    margin-left: 10px;
  }

  .lang {
    justify-content: space-between;
  }

  .lang h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin: 60px 36px 36px 36px;
    color: #000;
  }

  .lang i {
    color: #acb7c3;
    margin: 63px 26px 0 64px;
  }

  .Frame,
  .skill {
    justify-content: space-between;
    border-bottom: 1px #dfe1e6 solid;
    margin: 0 24px 10px 24px;
    font-weight: 500;
    font-size: 20px;
    color: #000;
  }

  .flex-row {
    border-bottom: 1px solid rgb(231, 227, 227);
    display: flex;
    font-weight: 500;
    padding-bottom: 2vh;
    padding-top: 2vh;
    font-size: 20px;
    color: #000;
  }

  .framework {
    font-weight: 600;
    font-size: 20px;
    color: #000;
    font-family: "Poppins", sans-serif;
  }

  .lang {
    display: flex;
  }

  .down-btn {
    margin-right: 8vw;
  }
  .Frame > p,
  .skill > p {
    font-family: "Poppins", sans-serif;
    align-self: center;
    font-weight: 500;
    font-size: 20px;
    margin: 36px 26px 23px 12px;
  }

  .Frame > i,
  .skill > i {
    color: #acb7c3;
    align-self: center;
    margin: 0 42px 0 0;
  }

  .languages {
    color: #000;
    font-weight: 600;
    font-size: 20px;
    padding-left: 3vw;
    margin-top: 4vh;
    margin-bottom: 4vh;
    line-height: 24px;
  }
}
